.TopbarLeft__list-main{
	margin: 0px;
	padding: 0px;
}

.TopbarLeft__list-main li:first-child{
	padding-left:0;
}

.TopbarLeft__list-main li {
	display: inline-block;
	color: #333;
	font-size: 15px;
	font-weight: 500;
	border-right: 1px solid #f0f0f0;
	padding: 15px 13px;
}

.TopbarLeft__list-main li i {
	display: inline-block;
	margin-right: 4px;
	font-size: 15px;
	color: rgb(206, 27, 39);
	position: relative;
	top: 1px;
}
.TopbarLeft__list-main li:last-child{
	padding-right:0;
	border:none;
}
.TopbarLeft__list-main li a{
	color:#333;
}
.TopbarLeft__list-main li a:hover{
    color:rgb(206, 27, 39);
    text-decoration: none;
    transition-duration: 0.5s;
}