.main-slider-area-img{
	width: 100%;
	background-color: rgb(206, 27, 39);
	outline: none;
} 

.main-slider-area-img img{
	width: 81.6%;
	height: 100%;
	margin-left: 18.4%;
}

.slick-dots{
	bottom: 2%;
	padding-left: 25% !important;
}

.slick-dots li button:before{
	opacity: 1;
	color: white;
}

.slick-next{
	right: 3%;
}

.slick-prev{
	position: absolute;
	z-index: 1;
	left: 28%;
}

.slick-next:before{
	font-size: 30px;
}

.slick-prev::before{
	font-size: 30px;
}