.product-tab{
    margin: 3% 1%;
}

.product-tab .nav-tabs .nav-link{
    color: rgb(75, 196, 236);
}

.product-tab .nav-tabs .nav-link.active{
    color: red;
}

.product-tab .product-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-tab .product-img .product-img__src{
    margin-bottom: 3%;
    width: 50%;
}

.product-tab .product-img .product-img__src:first-child{
    margin-top: 5%;
}

.product-tab .product-img .product-img__src img{
    width: 100%;
    height: auto;
}

.product-tab .product-description{
    padding-top: 4%;
}

.product-tab .review{
    margin-top: 5%;
    margin-bottom: 5%;
}

.product-tab .review .icon{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-tab .review .text{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.product-tab .review .title{
    margin-bottom: 0.6rem;
    font-size: 15px;
    color: rgb(162, 162, 162);
    text-align: center;
}