.follow {
    margin-top: 15px;
    padding-left: 0px;
}

.follow li{
	display:inline-block;
	margin-right:25px;
}

.follow li:last-child{
	margin-right:0;
}

.follow li a{
	color:#fff;
	display:block;
	font-size:16px;
}

.follow li a:hover{
	color:rgb(206, 27, 39);
	transition: 0.5s;
}