.cart{
    padding: 0px;
    margin: 0px 100px;
}

.cart-products-inner{
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.cart-products__products {
    list-style: none;
    margin: 0px;
    padding:0px;
}

.cart-products__inner{
    list-style: none;
    margin: 16px 0px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 16px;
}

.cart-products__img{
    list-style: none;
    position: relative;
    margin-right: 1.2rem;
}

.cart-products__img img{
    display: inline-block;
    flex: 0 0 5rem;
    width: 5rem;
    height: 5rem;
    margin-right: 1.2rem;
    border: 1px solid #e8e8e8;
}

.cart-products__content{    
    list-style: none;    
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: calc(100% - 0px);
    align-items: center;
}

.cart-products__content .option-choose{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.cart-products__content .size{
    border-right: 1px solid #e8e8e8;
}

.cart-products__content .color .button-color, .cart-products__content .size .button-size{
    background-color: #efefef;
    color: black;
    border-radius: 3px;
    padding: 1px 10px;
}

.cart-products__desc{    
    list-style: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-products__actions{
    margin-bottom: 0px;
}

.cart-products__actions:hover{
    cursor: pointer;
    color: rgb(248, 34, 34);
}

.cart-products__details{    
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6%;
}

.cart-products__name{
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    color: rgb(36, 36, 36);
    font-weight: 400;
    display: inline-block;
}

.cart-products__pricess{    
    list-style: none;
    text-align: right;
    margin-right: 25px;
}

.cart-products__real-prices{
    list-style: none;
    text-align: right;
    margin: 0px 0px 10px;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    display: inline-block;
}

.cart-products__discount-prices{    
    list-style: none;
    text-align: right;
    margin: 0px 0px 10px;
    font-size: 12px;
    margin-bottom: 8px;
    color: rgb(162, 162, 162);
}

.cart-products__qty{
    list-style: none;
}

.qty-decrease{
    list-style: none;
    display: inline-block;
    color: rgb(153, 153, 153);
    cursor: pointer;
    border-right: 1px solid rgb(200, 200, 200);
    padding: 6px 12px;
}

.qty-increase{
    list-style: none;
    display: inline-block;
    color: rgb(153, 153, 153);
    cursor: pointer;
    padding: 6px 12px;
    border-right: none;
    border-left: 1px solid rgb(200, 200, 200);
}

.qty-input{
    text-size-adjust: 100%;
    list-style: none;
    font-family: inherit;
    line-height: 1.15;
    overflow: visible;
    width: 35px;
    text-align: center;
    font-size: 13px;
    -webkit-appearance: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: transparent;
    margin: 0px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.CartQty__StyledCartQty-sc-1looi6r-0{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-image: initial;
    border-radius: 3px;
}

.prices{
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.prices__total{
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
}

.prices__text{
    margin-right: 100px;
    font-weight: 700;
    font-size: 22px;
    color: rgb(51, 51, 51);
    display: inline-block;
}

.prices__value--final{
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    text-align: right;
}