.profile{
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.profile h3{
    text-align: center;
    margin-bottom: 3%;
    color: rgb(206, 27, 39);
}

.profile thead, .profile thead tr th, .profile tbody tr, .profile tbody tr td{
    border: 1px solid #ececec;
}

.profile .icon-user{
    border: 1px solid #ececec;
    padding: 7px;
    border-radius: 50%;
    color: white;
    background-color: #ececec;
}

.profile thead tr th, .profile tbody tr td, .profile table th{
    text-align: center;
}

.profile .note{
    text-align: center;
    color: gray;
    font-size: 20px;
    border: 1px solid #ececec;
    padding: 20px 0px;
}

.profile .note .login{
    color: rgb(206, 27, 39);
    font-weight: 600;
    padding-top: 10px;
}

.profile .note .login:hover{
    cursor: pointer;
    color: red;
    transition: 0.5s;
}