.best-selling{
	position:relative;
}

.best-selling .mega-menu {
	width: 850px;
	display: inline-block;
	height: auto;
	position: absolute;
	left: 99%;
	top: 0;
	z-index: 99999;
	background: #fff;
	border: none;
	padding: 30px;
	border-left: 3px solid rgb(206, 27, 39);
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}

.best-selling:hover .mega-menu{
	opacity:1;
	visibility:visible;
}

.best-selling .mega-menu .single-menu {
	width: 33%;
	display: inline-block;
	border: none;
	padding: 0;
	padding-right: 20px;
}

.best-selling .mega-menu .single-menu p{
	padding:0;
}

.best-selling .mega-menu .single-menu .image{
	overflow:hidden;
}

.best-selling .mega-menu .single-menu img{
	display:block;
	height:100%;
	width:100%;
	cursor:pointer;
}

.best-selling .mega-menu .single-menu .image:hover img{
	transform:scale(1.1);
	transition: 0.5s;
}

.best-selling .mega-menu .single-menu .title-link {
	margin-bottom: 20px;
	background: rgb(206, 27, 39);
	color: #fff;
	padding: 2px 13px;
	border-radius: 3px;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;

}

.best-selling .mega-menu .single-menu .title-link:hover{
	background:#333;
	color:#fff;
	transition: 0.5s;
}

.best-selling .mega-menu .single-menu .inner-link{
	margin-top:25px;
}

.best-selling .mega-menu .single-menu .inner-link Link{
	margin-bottom:10px;
	padding-left: 0px;
}

.best-selling .mega-menu .single-menu .inner-link Link:hover{
	color:rgb(206, 27, 39);
	background:transparent;
}

.best-selling .mega-menu .single-menu .inner-link Link:last-child{
	margin-bottom:0px;
}
