li:hover .newArrivals-sub-category{
	opacity:1;
	visibility:visible;
	text-decoration: none;
}

.newArrivals-sub-category {
	background: #fff;
	width: 220px;
	position: absolute;
	left: 99%;
	top: 0;
	z-index: 999999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-left: 3px solid rgb(206, 27, 39);
	-webkit-box-shadow: 0px 5px 15px #0000000a;
	-moz-box-shadow: 0px 5px 15px #0000000a;
	box-shadow: 0px 5px 15px #0000000a;
	padding: 0px;
	text-decoration: none;
}