.filterProduct{
    background: #F6F7FB;
    padding: 30px;
    margin-top: 50px;
}

.filterProduct .title{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 25px;
    display: block;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.filterProduct div label{
    color: #666;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}