.filter-price{
    background: #F6F7FB;
    padding: 30px;
}

.filter-price .title{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 25px;
    display: block;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.filter-price__btn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-price__btn button{
    display: block;
    padding: 0px;
    margin-bottom: 4%;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 5%;
    text-transform: uppercase;
    transition: background-color .15s ease-in,border-color .15s ease-in,color .15s ease-in;
    cursor: pointer;
    width: 49%;
    font-size: 15px;
    color: #666;
}

.filter-price__btn button:focus , .filter-price__btn button:active{
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.filter-price__form{
    display: flex;
    margin-bottom: 10px;
}

.filter-price__form .input-price{
    display: block;
    width: 100%;
    border: 1px solid #e8e8e8;
    padding: 2% 1%;
    text-align: center;
    border-radius: 1%
}

.filter-price__form .input-price:focus , .filter-price__form .input-price:active{
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.filter-price__form .to-label{
    position: relative;
    min-width: 3%;
    margin: 0px 2%;
}

.filter-price__form .submit-button{
    background-color: #c7c7cd;
    border-radius: 1%;
    border: 1px solid #c7c7cd;
    width: 10%;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
}

.filter-price__form .submit-button::after{
    display: block;
    content: "";
    border-top: .5rem solid transparent;
    border-right: 0;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid #fff;
}

.filter-price__form .submit-button:focus, .filter-price__form .submit-button:active{
    outline : 0;
    outline-style: none;
    outline-width: 0;
}

.filter-price__form .to-label .arrow-right{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    border-top: 5px solid transparent;
    border-right: 0;
    border-bottom: 5px solid transparent ;
    border-left: 5px solid;    
}

.active-price{
    background-color: rgb(206, 27, 39) !important;
}

.active-price span{
    color: white;
}
