.breadcrumbs-detail {
    background-color: #F6F7FB;
    position: relative;
    padding: 20px 100px 20px 100px;
}

.breadcrumbs-detail .bread-list{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin-bottom: 0px;
}

.breadcrumbs-detail .bread-list li{
    list-style: none;
    margin-left: 10px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.breadcrumbs-detail .bread-list li:hover{
    text-decoration: none;
    color: rgb(206, 27, 39);
    transition: 0.5s;
    cursor: pointer;
}

.breadcrumbs-detail .bread-list li:first-child{
    margin-left: 0px;
}

.breadcrumbs-detail .bread-list li i{
    margin-left: 10px;
}
