.main-product-detail{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(214, 214, 214);
    padding-top: 2%;
}

.main-product-detail__img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-product-detail__img img {
    width: 100%;
    height: auto;
    background-position: center;
}

.main-product-detail__option{
    padding: 0;
    margin: 0;
}

.main-product-detail__option .main-option-product{
    overflow: hidden;
    margin-right: 10px;
}

.main-product-detail__option2{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 8%;
}

.main-product-detail__option2 .main-option-product-fix{
    overflow: hidden;
    padding: 0px;
}

.main-product-detail__option2 .main-option-product-fix .option-product{
    width: 97%;
    padding: 0px; 
    overflow: hidden;
}

.main-product-detail__option .main-option-product .option-product{
    width: 97%;
    padding: 0px; 
    overflow: hidden;
}

.main-product-detail .option-product-div:active, .main-product-detail .option-product-div:focus{
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.main-product-detail .option-product-div .active{
    border: 2px solid rgb(221, 3, 18);
}

.main-product-detail__option .slick-slider{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.main-product-detail__option .slick-next{
    right: 4%;
    top : 30%
}

.main-product-detail__option .slick-prev{
    left: 1%;
    top : 30%
}

.main-product-detail__option .slick-next::before, .main-product-detail__option .slick-prev::before{
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

