.quantity-product-detail{
    display: flex;
    flex-direction: row;
}

.quantity-product-detail__title{
    padding: 0px;
    font-size: 15px;
    font-weight: 500;
}

.quantity-product-detail .minus, .quantity-product-detail .plus{
    background-color: #c7c7cd;
    color: #fff;
    border-radius: 3px;
    border: transparent;
    line-height: 100%;
    font-size: 14px;
}

.quantity-product-detail .minus-opacity{
    opacity: 0.5;
}

.quantity-product-detail .minus:active, .quantity-product-detail .minus:focus,
.quantity-product-detail .plus:active, .quantity-product-detail .plus:focus{
    outline: 0;  
    outline-style: none;  
    outline-width: 0; 
}

.quantity-product-detail .number{
    width: 7%;
    margin: 0 1%;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    text-align: center; 
}