.size-product-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}

.size-product-detail .size-product-detail__name{
    padding: 0px;
    font-weight: 500;
    font-size: 15px;
}

.size-product-detail .size-product-detail__size{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.size-product-detail .button-size{
    margin-left: 2%;
}

.size-product-detail .button-size button{
    padding: 0px 15px;
    background-color: #e9e9e9;
    border: transparent;
    border-radius: 3px;
}

.size-product-detail .button-size button:focus, .size-product-detail .button-size button:active{
    outline: 0;
    outline-width: 0;
    outline-style: none;
}

.active-size{
    color: white;
    background-color: rgb(221, 3, 18) !important;
}

.active-color{
    color: white;
    background-color: rgb(221, 3, 18) !important;
}


