.nav-main-option{
	margin-bottom: 50px;
}

.nav-main-option .nav-main__tabs {
	text-align: center;
	display: inline-block;
	justify-content: center;
	width: 100%;
	border:none;
}

.nav-main-option .nav-main__tabs .nav-item {
	margin-bottom: -1px;
	display: inline-block;
}

.nav-main-option .nav-main__tabs li a {
	color: #333;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	font-weight: 500;
	background: #fff;
	color: #333;
	padding: 3px 14px;
	border-radius: 3px;
	font-size: 14px;
}

.nav-main-option .nav-main__tabs li:last-child a{
    border-color:transparent;
} 

.nav-main-option .nav-main__tabs li a{
	margin-right:10px;
}

.nav-main-option .nav-main__tabs li a.active{
	background:rgb(206, 27, 39) !important;
	color:#fff;
	border-radius: 5px;
}

.nav-main-option .nav-main__tabs li:hover a{
	background:rgb(206, 27, 39) !important;
	color:#fff;
	border-color:transparent;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.5s;
}
