.InfCopyright{
    padding: 0px;
}

.InfCopyright div{
    color: #fff;
}

.InfCopyright div p {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}

.InfCopyright div p span{
	color:#fff;
	text-decoration:underline;
}