.information-contact {
    padding-left: 0px;
}

.logo a{
	font-weight: bold;
	font-size: 35px;
	color: white;
    text-decoration: none;
}

.logo a span{
	color: rgb(206, 27, 39);
}

.about .text {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
}

.about .call {
    color: #fff;
    margin-top: 16px;
    font-weight: 500;
}

.about .call span {
    color: rgb(206, 27, 39);
    font-size: 20px;
    font-weight: 600;
}