.header-inner__nav{
    background-color: #333;
    padding: 0px 100px;
}

.header-inner__nav .navbar-nav li{
    margin-left: 10px;
}

.header-inner__nav .navbar-nav li:first-child{
    margin-left: 0px;
}

