.menu-area .menu-area__fix{
    padding: 0px 16px;
}

.menu-area .navbar-expand-lg .navbar-collapse{
    display:block !important;
}

.menu-area .nav-inner {
    margin: 0;
	float: left;
}

.menu-area .menu-area li {
    margin-right: 10px;
}

.menu-area li:hover{
	background-color: rgb(206, 27, 39);
	transition: 0.5s;
	cursor: pointer;
	color: white;
}

.menu-area li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    padding: 21px 15px;
    font-weight: 500;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none;
}

.menu-area li.active a{
	color:#fff;
	background:rgb(206, 27, 39);
}

.menu-area li:hover .dropdown{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}

.menu-area li .dropdown li{
	float:none;
    margin:0;
    list-style: none;
}

.menu-area li .dropdown li a {
	padding: 8px 15px;
	color: #666;
	display: block;
	font-weight: 400;
	text-transform: capitalize;
	background: transparent;
}

.menu-area li .dropdown li a:before{
	display:none;
}

.menu-area li .dropdown li:last-child a{
	border-bottom:0px;
}

.menu-area li .dropdown li:hover a{
	color:#fff;
	background:rgb(206, 27, 39);
}

.menu-area li .dropdown li a:hover{
    border-color:transparent;
    text-decoration: none;
}

.menu-area li .dropdown li i {
	float: right;
	margin-top: 8px;
	font-size:10px;
	z-index:5;
}

.menu-area li .new {
	background: rgb(206, 27, 39);
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0px 9px;
	position: absolute;
	left: 21px;
	top: 3px;
    font-weight: 500;
}

.menu-area li .new::before {
	position: absolute;
	content: "";
	left: 4px;
	bottom: -8px;
	border: 4px solid rgb(206, 27, 39);
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.menu-area .dropdown {
	background: #fff;
	width: 220px;
	position: absolute;
	top: 100%;
	z-index: 999;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 5px #3333334d;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	padding: 10px;
	margin: 0;
}



